#### Multiply 10 with 5, and print the result.

In [1]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
print(a*b)

Enter the first number: 10
Enter the second number: 5
50

### Divide 10 by 2, and print the result.

In [2]:
a=int(input("Enter the largest number: "))
b=int(input("Enter the smallest number: "))
print(a/b)

Enter the largest number: 10
Enter the smallest number: 2
5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [5]:
fruits=["apple", "orange", "banana"]
for x in fruits:
  if(x=="apple"):
    print(True)
    break
  else:
    print(False)
    break
#Simple way:
#fruits=["apple", "orange", "banana"]
#if "apple" in fruits:
#print("apple")

True

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [7]:
a=int(input("Enter the number: "))
if(a==10):
  print(True)
else:
  print(False)

Enter the number: 5
False

### Use the correct logical operator to check if at least one of two statements is `True`.

In [9]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
if((a==10) or (b==10)):
  print(True)
else:
  print(False)

Enter the first number: 10
Enter the second number: 2
True

### Print the second item in the fruits list.

In [17]:
fruits=["Apple", "Orange", "Banana","Strawberry", "Blueberry"]
print(fruits[1])

Orange

### Change the value from "apple" to "kiwi", in the fruits list.

In [21]:
fruits[0]="Kiwi"
print(fruits)

['Kiwi', 'Lemon', 'Banana', 'Strawberry', 'Blueberry', 'Orange']

### Use the append method to add "orange" to the fruits list.

In [20]:
fruits.append("Orange")
print(fruits)

['Apple', 'Lemon', 'Banana', 'Strawberry', 'Blueberry', 'Orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [18]:
fruits.insert(1,"Lemon")
print(fruits)

['Apple', 'Lemon', 'Orange', 'Banana', 'Strawberry', 'Blueberry']

### Use the remove method to remove `"banana"` from the fruits list.

In [19]:
fruits.remove("Orange") #Remove only first value = Ornage if it repeated more than once.
print(fruits)

['Apple', 'Lemon', 'Banana', 'Strawberry', 'Blueberry']

### Use negative indexing to print the last item in the list.

In [23]:
print(fruits[-1])

Orange

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [22]:
print(fruits[3:6]) #range from index 3 to index 5 (6-1)

['Strawberry', 'Blueberry', 'Orange']

### Use the correct syntax to print the number of items in the list.

In [32]:
print(fruits)
len(fruits)

['Kiwi', 'Lemon', 'Banana', 'Strawberry', 'Blueberry', 'Orange']

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [24]:
x=[386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527]
for i in x:
  if (i==237):
    break
  if(i%2 ==0):
    print(i)

386
462
418
344
236
566
978
328
162
758
918

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [25]:
x = float(input("Enter the base of triangle: "))
y = float(input("Enter the height of triangle: "))
Area = ((x*y)/2)
print(Area)

Enter the base of triangle: 5
Enter the height of triangle: 5
12.5

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [27]:
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
z = int(input("Enter the third number: "))
a= min(x,y,z)
b= max(x,y,z)
c= (x+y+z)-b-a
print(a)
print(b)
print(c)

Enter the first number: 8
Enter the second number: 3
Enter the third number: 7
3
8
7

### Sort three integers :using conditional statements

In [28]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
if a>b:
  a,b = b,a
if a>c:
  a,c = c,a
if b>c:
  b,c = c,b
print (a, "<" , b, "<", c)

Enter the first number: 5
Enter the second number: 2
Enter the third number: 3
2 < 3 < 5

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [47]:
numbers = [int(x) for x in input()]
if len(numbers) == len(set(numbers)):
  print(True)
else:
  print(False)

23456789
True

#### Dictionary

In [48]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [49]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [51]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [53]:
print(sum([0,1,2,3,4,5]))
print(sum((0,1,2,3,4,5)))
print(sum({0,1,2,3,4,5}))
print(sum({5:5,10:11}))

15
15
15
15

### Python program to find the sum of all values in a dictionary

In [64]:
dict1 = {"a": 100, "b": 200, "c": 300}
print(sum(list(dict1.values())))

600

### Filter the negative values from given dictionary

In [65]:
def Filter_negative(item):
  k, v = item
  if (v < 0):
    return
  return (k, v)
dict1 = {'a': 1, 'b': -2, 'c': -3, 'd': 7, 'e': 0}
result = dict(filter(None, map(Filter_negative, dict1.items())))
print (result)

{'a': 1, 'd': 7, 'e': 0}

### Test if all Values are Same in Dictionary

In [109]:
from collections import Counter
dict2 = {"Gfg": 8, "is": 5, "Best": 5}
x = list(dict2.values())
a = False
freq = Counter(x)
if(len(freq) == 1):
    a = True
print(str(a))

False

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

# `any`

In [110]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [111]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [112]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

In [33]:
dict2 = {'a': 1, 'b': 2, 'c': 3}
x=int(input("Enter the Value: "))
if x in dict2.values():
    print("Yes, It exists in dictionary")
else:
    print("No, It doesn't exist in dictionary")

Enter the Value: 1
Yes, It exists in dictionary

### Calculate the sum of all numbers from 0 to a given number

In [26]:
x=int(input("Enter the number: "))
print(x * (x + 1) // 2)

Enter the number: 5
15


### Find the factorial of a given number using while loop

In [47]:
#import math
x=int(input("Enter the number: "))
#print(math.factorial(x))
n=1
fact=1
while(n<x+1):
  fact=fact*n
  n+=1
print(fact)

Enter the number: 5
120

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

### Use a loop to display elements from a given list present at odd index positions

In [54]:
x = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1, len(x), 2):
    print(x[i]);

20
40
60
80
100

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

### Calculate the cube of all numbers from 1 to a given number

In [3]:
def sumOfSeries(n):
    x = (n * (n + 1) / 2)
    return (int)(x * x)
print(sumOfSeries(2))

9

### len of str in list
### ['apple', 'orange', 'cat']

In [4]:
ls = ['apple', 'orange', 'cat']
print([ len(i) for i in ls])

[5, 6, 3]

### program to count number of vowels using sets in given string

1.   List item
2.   List item

In [7]:
string1= "Nada mahmoud maghraby"
vowels = "aeiouAEIOU"
count = sum(string1.count(vowel) for vowel in vowels)
print(count)

7


### Write a Python program to add an item to a tuple.

In [5]:
tuple_one = (1,2,3,4,5,"Amit", "Learning")
list_one = list(tuple_one)
list_one.append("Academy")
print(list_one)

[1, 2, 3, 4, 5, 'Amit', 'Learning', 'Academy']

### Write a Python program to multiply all the items in a list.

In [7]:
list_one = [1,2,3,4,5]
list_one.extend(list_one)
list_one.sort()
print(list_one)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

### Write a Python program to get the smallest number from a list.

In [25]:
list_two = [9,4,7,5,6,2,1,3,8,0]
list_two.sort()
print(list_two)
print("The smallest number is : ",list_two[0])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
The smallest number is :  0

### Write a Python program to get the largest number from a list.

In [26]:
list_two = [9,4,7,5,6,2,1,3,8,0]
list_two.sort()
print(list_two)
print("The largest number is : ",list_two[-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
The largest number is :  9

### Write a Python program to clone or copy a list

In [30]:
list_two = [9,4,7,5,6,2,1,3,8,0]
list_three=list_two.copy()
print(list_two)
print(list_three)

[9, 4, 7, 5, 6, 2, 1, 3, 8, 0]
[9, 4, 7, 5, 6, 2, 1, 3, 8, 0]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [41]:
s=set([0,1,3,4,5])
lst= list(s)
print("This is the set ", lst)
item = int(input("select the item: "))
lst.remove(item)
print(lst)

This is the set  [0, 1, 3, 4, 5]
select the item: 4
[0, 1, 3, 5]

### Write a Python program to find the maximum and minimum values in a set.

In [43]:
s=set([0,1,3,4,5])
n=max(s)
m=min(s)
print("The maximum number is :" , n)
print("The minimum number is :" , m)

The maximum number is : 5
The minimum number is : 0

print("The maximum number is :" , n)
### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [62]:
tuple1 = ("name", "age", "city","city")
tuple2 = (1,2,3,4)
if len(tuple1) == len(tuple2):
  dict1=dict(zip(tuple2, tuple1))
print(tuple1)
print(dict1)

('name', 'age', 'city', 'city')
{1: 'name', 2: 'age', 3: 'city', 4: 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [96]:
sample = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in sample:
  y = [*i[:-1] , 100]
  print(y)

[10, 20, 100]
[40, 50, 100]
[70, 80, 100]